body{
    margin: 0px;
    font-family: Roboto,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif;
    overflow-y:scroll;
}
nav{
    display: flex;
    height: 50px;
    align-items: center;
    background-color:rgb(255, 255, 255);
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.1); /* 水平偏移、垂直偏移、模糊度、顏色 */
    padding-left: 20px;
    padding-right: 20px;
    position: sticky;
    top:0;
    z-index: 3;
}

a:link{
    text-decoration: none;
    color:black;
}

a:visited{
    text-decoration: none;
}

.nav-logo{
    height: 70%;
}

.nav-item{
    height: 80%;
    width:50vw;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin-left: 20px;
    margin-right: 20px;
}

.products{
    height: 100%;
    display: flex;
    align-items: center;
}

.dropdown-btn{
    height: 25%;
    padding:10px
}

#products-dropdown-menu{
    display: none;
    background-color:rgb(255, 255, 255);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50px;
    z-index: 0;
}

#products-dropdown-menu ul {
    list-style: none;
    padding: 0px;
    width: 200px;
}

#products-dropdown-menu ul li{
    padding: 10px;
}

#products-dropdown-menu ul li:first-child{
    font-weight: bold;
}

#products-dropdown-menu:hover{
    color: gray;
}

.solutions{
    height: 100%;
    display: flex;
    align-items: center;
}

.events{
    height: 100%;
    display: flex;
    align-items: center;
}

.learn{
    height: 100%;
    display: flex;
    align-items: center;
}

.community{
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-search{
    height: 80%;
    display: flex;
    align-items: center;
    background-color: rgb(243, 243, 243);
    border-radius:5px;
}

.search-img{
    height:80%;
    margin-left: 10px;
    margin-right: 10px;
}

#searchInput{
    border: none;
    outline: none;
    font-size: 16px;
    width: 150px;
    background-color: rgb(243, 243, 243);
}

#language-menu{
    height: 80%;
    width:150px;
    display: flex;
    align-items: center;
    border: 2px solid rgb(233, 232, 232);
    border-radius: 5px;
    margin-left:20px;
    margin-right: 20px;
}

#language-menu:hover{
    background-color: rgb(249, 250, 251);
    cursor: pointer;
}

.lang-img{
    height: 80%;
    padding-left: 10px;
    padding-right: 10px;
}

#lang-option{
    display: none;
    overflow-y: scroll;
    position: absolute;
    top:50px;
    width: 200px;
    height:200px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

#lang-option ul{
    list-style: none;
    padding: 0px;
}

#lang-option ul li{
    padding: 15px;
}

#lang-option ul li:hover{
    background-color: rgb(238, 239, 239);
}

#create-profile{
    height: 30px;
    width: 30px;
    border: 1px solid rgb(233, 232, 232);
    border-radius: 50px;
    padding: 5px;
}

#create-profile-img{
    height: 100%;
}

#create-profile-window{
    display: none;
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 200px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top:60px;
    right: 120px;
    padding: 30px;
}

#create-profile-window-title{
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

#create-profile-window-description{
    margin-bottom: 30px;
}

#create-profile-window-btn{
    display: flex;
    justify-content: end;
}

#create-profile-window-btn button{
    width: 90px;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

#dismiss{
    background-color: white;
    color: rgb(3, 99, 244);
    border: none;
}

#dismiss:hover{
    background-color: rgb(201, 225, 245);
    transition: 0.2s;
}

#start{
    background-color: rgb(3, 99, 244);
    color:white;
    margin-left: 20px;
}

#start:hover{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}

#section1{
    height: 85vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#section1-left{
    flex:1 40%;
    padding-left: 60px;
    margin-right: 20px;
}

#section1-left-title{
    font-size: 700%;
    font-weight: bold;
    margin-bottom: 30px;
}

#section1-left-description{
    font-size: 30px;
}

#section1-right{
    flex: 1 40%;
    padding-right: 60px;
}

#section1-right video{
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}

#section1-right-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

#section1-right-app-link{
    display: flex;
    flex-wrap: wrap;
}

#section1-right-app-link > div{
    width: 60px;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section2{
    background-color: rgb(238, 240, 242);
}

#section2InnerContainer{
    padding-left: 20px;
    padding-right: 20px;
}

#tagScrollContainer{
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 96.5vw;
}

#tagContainer{
    width: max-content;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
}

.allTag{
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    margin-right: 10px;
}

.section2Btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid gainsboro;
    font-size: large;
    font-weight: bold;
    background-color: white;
}

.tagBtn{
    position: relative;
    bottom: 60px;
}

#tagLeft{
    right: 17px;
}

#tagRight{
    left: 92.5vw;
}

#articleScrollContainer{
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 97vw;
}

#articleContainer{
    width:200%;
    display: flex;
    justify-content: space-between;
}

.allArticle{
    width: 10.5%;
    height: 200px;
    border: 1px solid gainsboro;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.articleTitle{
    font-size: 22px;
    height: 50px;
    color: rgb(46, 103, 245);
}

.articleContent{
    
}

.articleTag{
    display: flex;
    width: 100%;
}

.tagImg{
    width: 35px;
}

.articleTag > div{
    margin-left: 20px;
    align-self: center;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    color: gray;
    background-color: rgb(238, 240, 242);
}

.articleBtn{
    position: relative;
    bottom:150px;
}

#articleLeft{
    Right:17px;
}

#articleRight{
    left: 92.5vw;
}

#section3{
    padding: 50px;
}

#section3Title{
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

#productList{
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    grid-template: 300px 300px 300px/ 1fr 1fr 1fr 1fr;
}

.allProduct{
    border: 1px solid;
    border: 1px solid gainsboro;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.allProduct > img{
    width: 80px;
    align-self: center;
    margin-top: 10px;
}

.allProduct > a{
    margin-top: auto;
    text-align: center;
}

.allProduct > a:hover{
    text-decoration-line: underline;
}

.productTitle{
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
}

.productContent{
    font-size: 18px;
}

#productListBtn{
    display: block;
    color: white;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 30px;
    padding-left: 30px;
    background-color: rgb(33, 89, 230);
    border-radius: 5px;
    width: fit-content;
    height:40px;
    line-height: 40px;
}

#productListBtn:hover{
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1);
}
