<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <section>
        <form>
            <div class="form-title">Sign-Up</div>
            <div><input type="text" placeholder="email" id="sign-up-email" class="form-input"></div>
            <div><input type="password" placeholder="password" id="sign-up-password" class="form-input"></div>
            <button id="sign-up-btn" class="submit-btn">Sign-Up</button>
            <div id="sign-up-alert" class="form-alert"></div>
        </form>
    </section>

    <section>
        <form>
            <div class="form-title">Sign-In</div>
            <div><input type="text" placeholder="email" id="sign-in-email" class="form-input"></div>
            <div><input type="password" placeholder="password" id="sign-in-password" class="form-input"></div>
            <button id="sign-in-btn" class="submit-btn">Sign-In</button>
            <div id="sign-in-alert" class="form-alert"></div>
        </form>
    </section>
</body>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const signUpBtn = document.querySelector('#sign-up-btn');
    const signUpEmail = document.querySelector('#sign-up-email');
    const signUpPassword = document.querySelector('#sign-up-password');
    const signUpAlert = document.querySelector('#sign-up-alert');

    signUpBtn.addEventListener('click', async(event) => {
        event.preventDefault();
        signUpAlert.textContent = '';

        const email = signUpEmail.value;
        const password = signUpPassword.value;
        signUpEmail.value = '';
        signUpPassword.value = '';

        try {
            const response = await axios.post('user/signup', { email, password });
            window.location.href = '/memberSys';             
        } catch (error) {
            signUpAlert.textContent = error.response.data.message
        }
    });

    const signInBtn = document.querySelector('#sign-in-btn');
    const signInEmail = document.querySelector('#sign-in-email');
    const signInPassword = document.querySelector('#sign-in-password');
    const signInAlert = document.querySelector('#sign-in-alert');

    signInBtn.addEventListener('click', async(event) => {
        event.preventDefault();
        signInAlert.textContent = '';

        const email = signInEmail.value;
        const password = signInPassword.value;
        signInEmail.value = '';
        signInPassword.value = '';

        try {
            const response = await axios.post('user/signin', { email, password });
            window.location.href = '/memberSys';
        } catch (error) {
            signInAlert.textContent = error.response.data.message;
        }
    });
</script>
</html>